* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

fieldset {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  padding: 24px;
  text-transform: capitalize;
}

legend {
  padding: 20px;
}

input {
  max-width: 80%;
  min-width: 80%;
  padding: 8px;
  border: 1px solid black;
}

textarea {
  resize: horizontal;
  max-width: 80%;
  min-width: 80%;
  border: 1px solid black;
}

.form-item {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.submitBtn {
  display: flex;
  justify-content: center;
}
.submitBtn > button {
  text-transform: capitalize;
  padding: 12px 24px;
  border-radius: 8px;
}

.submitBtn > button:hover {
  cursor: pointer;
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000;
}
